@model iWasHere.Domain.Models.Country
@*<script type="text/javascript">
        $(document).ready(function () {
            $('#btnCancel').click(function (e)
          {
              window.location = '@Url.Action("IndexCountry", "Dictionary")';
          });
        });
    </script>*@

@using (Html.BeginForm("CountrySubmit", "Dictionary", FormMethod.Post))
{
    <label for="CountryName">Country Name:</label>
    @(Html.Kendo().TextBoxFor(m => m.Name)
        .HtmlAttributes(new
        {
            validationmessage = "Enter Country Name!"
        })
    )
    <br />
    <label for="CountryCode">Country Code:</label>
    @(Html.Kendo().TextBoxFor(m => m.Code)
        .HtmlAttributes(new
        {
            validationmessage = "Enter Country Code!"
        })
    )
    <br />
    <div class="demo-section k-content">
        @(Html.Kendo().Button()
            .Name("btnSave")
            .Content("Save")
            .HtmlAttributes(new { name = "btnSave", style = "background: green", type = "submit", value = "Save" })
            .Events(ev => ev.Click("onClick")))
    </div>
    <br />

    if (Model == null)
    {
        <div class="demo-section k-content">
            @(Html.Kendo().Button()
                .Name("btnSave")
                .Content("Save and New")
                .HtmlAttributes(new { name = "btnSave", style = "background: green", type = "submit", value = "Save and New" })
                .Events(ev => ev.Click("onClick")))
        </div>
    }
    <br />

    <div class="demo-section k-content">
        @(Html.Kendo().Button()
            .Name("btnSave")
            .Content("Cancel")
            .HtmlAttributes(new { name = "btnSave", style = "background:red", type = "submit", value = "Cancel" })
            .Events(ev => ev.Click("onClick")))
    </div>
    <br />

    @Html.HiddenFor(h => h.CountryId);
    @Html.HiddenFor(h => h.ParentId);
}