@using Kendo.Mvc.UI

@model iWasHere.Domain.Models.DictionaryCurrencyType

@(Html.Kendo().TextBox()
     .HtmlAttributes(new
     {
        id = "filterName"
     })
     .Name("filterName")
)

@(Html.Kendo().Button()
    .Name("filterBtn")
    .Content("Search")
    .Icon("filter")
    .HtmlAttributes(new { type = "button" })
    .Events(ev => ev.Click("onClick"))
)

@(Html.Kendo().Button()
    .Name("clearFilterBtn")
    .Icon("clear-filter")
    .Content("Reset")
    .HtmlAttributes(new { type = "button" })
    .Events(ev => ev.Click("onClick"))
)

@(Html.Kendo().Button()
    .Name("addNewBtn")
    .Content("Add New")
    .HtmlAttributes(new { type = "button" })
    .Events(ev => ev.Click("onClick"))
)

@(Html.Kendo().Grid<iWasHere.Domain.Models.DictionaryCurrencyType>
    ()
    .Name("grid")
    .Columns(columns =>
    {
        columns.Bound(p => p.Name).Title("Name");
        columns.Bound(p => p.Code).Title("Code");
        columns.Bound(p => p.Description).Title("Description");
        columns.Bound(p => p.CurrencyCountry.Name).Title("Country");
        columns.Template("<a class='k-button' href='/Dictionary/CurrencyAdd?Id=#=CurrencyTypeId# '> Edit </a>").Width(150);
        columns.Command(d => { d.Destroy(); }).Width(150);
    })
    .Filterable()
    .Selectable(selectable => selectable
    .Mode(GridSelectionMode.Single)
    .Type(GridSelectionType.Row))
    .Pageable(pager => pager.PageSizes(new int[] { 5, 10, 50 }))
    .Navigatable()
    .Sortable(sortable => sortable.AllowUnsort(false))
    .DataSource(dataSource => dataSource
    .Ajax()
    .ServerOperation(true)
    .PageSize(10)
    .Read(read => read.Action("CurrencyRead", "Dictionary").Data("getfilter"))
    .Model(m => m.Id(p => p.CurrencyTypeId))
    .Destroy(destroy => destroy.Action("CurrencyDestroy", "Dictionary"))
    .Events(events => events.Error("error_handler"))
    )
)

<script type="text/javascript">
$(document).ready(function () {
    $('#addNewBtn').click(function (e)
  {
      window.location = '@Url.Action("CurrencyAdd", "Dictionary")';
  });
});
</script>

<script type="text/javascript">
    var name;
    function getfilter() {
        return {
            filterName: name,
        };
    }
    function onClick(e) {
        if ($(e.event.target).closest(".k-button").attr("id") == "clearFilterBtn") {
            $('#filterName').val(null);
            name = "";
            $('#grid').data("kendoGrid").dataSource.read();
            $('#grid').data("kendoGrid").dataSource.page(1);
        }
        if ($(e.event.target).closest(".k-button").attr("id") == "filterBtn") {
            name = $('#filterName').val();
            $('#grid').data("kendoGrid").dataSource.read();
            $('#grid').data("kendoGrid").dataSource.page(1);
        }
    }
</script>

<script>
    function error_handler(e) {
        if (e.errors) {
            e.preventDefault();
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }
</script>



