
@model IEnumerable<iWasHere.Domain.DTOs.CountyModel>
@using Kendo.Mvc.UI

@{
    ViewData["Title"] = "IndexCounty";
}
<div class="demo-section k-content">
    @(Html.Kendo().Button()
        .Name("btnAdd")
        .Content("Add County")
        .HtmlAttributes(new { type = "button" })
        .Events(ev => ev.Click("onClick")))
</div>


<div>
    <table>
        <tr>
            <td>
                <label for="countyNamer">Nume Judet:</label>
                @(Html.Kendo().TextBox()
                 .HtmlAttributes(new { id="countyName"})
                    .Name("countyName")
                    .Value("")
                )
            </td>
            <td>
                <label for="countriesCB">Nume Tara:</label>
            </td>
            <td>
                @(Html.Kendo().ComboBox()
                      .Name("countriesCB")
                      .Placeholder("Selecteaza tara")
                      .DataTextField("ProductName")
                      .DataValueField("CountryId")
                      .HtmlAttributes(new { style = "width:100%;" })
                      .HtmlAttributes(new { id="cbId"})
                      .Filter(FilterType.Contains)
                      .AutoBind(false)
                      .MinLength(3)
               
                      .DataSource(source =>
                      {
                          source.Read(read =>
                          {
                              read.Action("Countries_Read_ForCB", "Dictionary");
                          })
                          .ServerFiltering(true);
                      })
                      .Events(e =>

            {

                e.Select("onSelect");

            })
                )
            </td>
            <td>
                @(Html.Kendo().Button()
                    .Name("filterBtn")
                    .Content("Filtreaza")
                    .HtmlAttributes(new { type = "button" })
                    .Events(ev => ev.Click("onClick")))
            </td>
            <td>
                @(Html.Kendo().Button()
                    .Name("clearFilterBtn")
                    .Icon("refresh")
                    .Content("Reseteaza Filtru")
                    .HtmlAttributes(new { type = "button" })
                    .Events(ev => ev.Click("onClick")))
            </td>
        </tr>
    </table>
</div>
<div>
    @(Html.Kendo().Grid(Model)
    .Name("Grid")
    .Columns(columns =>
                {
        columns.Bound(c => c.Name).Width(140).Column.Title = "Nume";
        columns.Bound(c => c.Code).Width(190).Column.Title = "Cod";
        columns.Bound(c => c.CountryName).Width(190).Column.Title = "Tara";
        columns.Command(command => { command.Edit(); command.Destroy(); }).Width(172).Column.Title = "Actiuni";

    })
    .HtmlAttributes(new { style = "height: 380px;" })
    .Scrollable()
    .Sortable()
    .Pageable(pageable => pageable
            .Refresh(true)
            .PageSizes(new[] { 5, 10, 30, 50, 100 })
            .ButtonCount(10))
    .DataSource(dataSource => dataSource
        .Ajax()
        .ServerOperation(true)
        .PageSize(20)
        .Read(read => read
        .Action("Counties_Read", "Dictionary")
        .Data("countiesReadData"))
        )
    )
</div>
<script type="text/javascript">
$(document).ready(function () {
    $('#btnAdd').click(function (e)
  {
      window.location = '@Url.Action("AddNewCounty", "Dictionary")';
  });
});
</script>

<script type="text/javascript">
    var county = "";
    var country = 0;
    function countiesReadData() {
        return {
            filterName: county,
            filterCounty: country
        };
    }
    function onClick(e) {
    
        if ($(e.event.target).closest(".k-button").attr("id") == "clearFilterBtn") {
            $('#countyName').val(null);
            county = "";
            
            $('#Grid').data("kendoGrid").dataSource.read();
            $('#Grid').data("kendoGrid").dataSource.page(1);
        }
        if ($(e.event.target).closest(".k-button").attr("id") == "filterBtn") {
            county = $('#countyName').val();
            $('#Grid').data("kendoGrid").dataSource.read();
            $('#Grid').data("kendoGrid").dataSource.page(1);
        }
    }


</script>