@model IEnumerable<iWasHere.Domain.DTOs.CountyModel>
@using Kendo.Mvc.UI
@{
    ViewData["Title"] = "IndexCounty";
}

<div>
    @(Html.Kendo().Button()
                    .Name("addCountyBtn")
                    .Content("Adauga Judet")
     
                    .HtmlAttributes(new { type = "button" })
                    .Events(ev => ev.Click("onClick")))
</div>
<div>
    <table>
        <tr>
            <td>
                <label for="countyNamer">Nume Judet:</label>
                @(Html.Kendo().TextBox()
                    .HtmlAttributes(new
                            {
                        id = "countyName"
                            })
                    .Name("countyName")
                    .Value("")
                )
            </td>
            <td>
                <label for="countriesCB">Nume Tara:</label>
            </td>
            <td>
                @(Html.Kendo().ComboBox()
                        .Name("countries")
                        .Placeholder("Selecteaza tara")
                        .DataTextField("Name")
                        .DataValueField("CountryId")
                        .HtmlAttributes(new { style = "width:100%;" })
                        .Filter(FilterType.Contains)
                        .AutoBind(false)
                        .MinLength(3)
                        .DataSource(source =>
                            {
                                source.Read(read =>
                            {
                                read.Action("Countries_Read_ForCB", "Dictionary");
                            })
                                .ServerFiltering(true);
                            })
                )
            </td>
            <td>
                @(Html.Kendo().Button()
                    .Name("filterBtn")
                    .Content("Filtreaza")
                    .Icon("filter")
                    .HtmlAttributes(new { type = "button" })
                    .Events(ev => ev.Click("onClick")))
            </td>
            <td>
                @(Html.Kendo().Button()
                    .Name("clearFilterBtn")
                    .Icon("clear-filter")
                    .Content("Reseteaza Filtru")
                    .HtmlAttributes(new { type = "button" })
                    .Events(ev => ev.Click("onClick")))
            </td>
        </tr>
    </table>
</div>
<div>
    @(Html.Kendo().Grid(Model)
    .Name("Grid")
    .Columns(columns =>
    {
        columns.Bound(c => c.CountyId).Column.Hidden = true;
        columns.Bound(c => c.Name).Width(140).Column.Title = "Nume";
        columns.Bound(c => c.Code).Width(70).Column.Title = "Cod";
        columns.Bound(c => c.CountryName).Width(120).Column.Title = "Tara";
        columns.Template("<a class='k-button' href='/Dictionary/AddNewCounty?Id=#=CountyId# '> Editeaza </a>").Width(70).Column.Title = "Editeaza";
        columns.Command(command => { command.Destroy().Text("Sterge Judet"); }).Width(70).Column.Title = "Sterge";

    })
    .HtmlAttributes(new { style = "height: 400dp;" })
    .Scrollable()
    .Sortable()
    .Pageable(pageable => pageable
            .Refresh(true)
            .PageSizes(new[] { 5, 10, 30, 50, 100 })
            .ButtonCount(10))
    .DataSource(dataSource => dataSource
        .Ajax()
        .ServerOperation(true)
        .PageSize(20)
        .Model(model => model.Id(p => p.CountyId))
        .Read(read => read
        .Action("Counties_Read", "Dictionary")
        .Data("countiesReadData"))
        .Destroy(update => update.Action("DestroyCounty", "Dictionary"))
    ))
</div>



<script type="text/javascript">
        var county = "";
        var country = 0;

        function countiesReadData() {
            return {
                filterName: county,
                filterCountry: country
            };
        }
        function onClick(e) {
            if ($(e.event.target).closest(".k-button").attr("id") == "clearFilterBtn") {
                $('#countyName').val(null);
                county = "";
                country = 0;
                $('#Grid').data("kendoGrid").dataSource.read();
                $('#Grid').data("kendoGrid").dataSource.page(1);
            }
            if ($(e.event.target).closest(".k-button").attr("id") == "filterBtn") {
                county = $('#countyName').val();
                country = $('#countries').val();
                $('#Grid').data("kendoGrid").dataSource.read();
                $('#Grid').data("kendoGrid").dataSource.page(1);
            }
            if ($(e.event.target).closest(".k-button").attr("id") == "addCountyBtn") {
                 window.location = '@Url.Action("AddNewCounty", "Dictionary")';
            }
        }
</script>






