@model IEnumerable<iWasHere.Domain.Models.DictionaryLandmarkType>

<div>
    <td>
        <label for="countryName">Name:</label>
        @(Html.Kendo().TextBox()
            .HtmlAttributes(new
                    {
                id = "Name"
                    })
            .Name("Name")
            .Value("")
        )
    </td>
    <br />
    <td>
        <label for="countryName">Code:</label>
        @(Html.Kendo().TextBox()
            .HtmlAttributes(new
                    {
                id = "Code"
                    })
            .Name("Code")
            .Value("")
        )
    </td>


</div>

<br />
<div>
    <div class="demo-section k-content">
        @(Html.Kendo().Button()
            .Name("btnSave")
            .Content("Save")
            .HtmlAttributes(new { type = "button" })
            .Events(ev => ev.Click("onClick")))
    </div>

    <div class="demo-section k-content">
        @(Html.Kendo().Button()
            .Name("btnSaveAndNew")
            .Content("Save and New")
            .HtmlAttributes(new { type = "button" })
            .Events(ev => ev.Click("onClick")))
    </div>

    <div class="demo-section k-content">
        @(Html.Kendo().Button()
            .Name("btnCancel")
            .Content("Cancel")
            .HtmlAttributes(new { type = "button" })
            .Events(ev => ev.Click("onClick")))
    </div>
</div>


<script type="text/javascript">
$(document).ready(function () {
    $('#btnCancel').click(function (e)
  {
      window.location = '@Url.Action("Landmark", "Dictionary")';
  });
});
</script>