@model iWasHere.Domain.DTOs.LandmarkModel
@{
    ViewData["Title"] = Model.Name;
    List<string> images = ViewData["Images"] as List<string>;
    List<string> location = ViewData["Location"] as List<string>;
    List<string> construction = ViewData["Construction"] as List<string>;
    List<string> landmarkType = ViewData["Landmark"] as List<string>;
    List<iWasHere.Domain.Models.Comment> comments = ViewData["Comment"] as List<iWasHere.Domain.Models.Comment>;
    iWasHere.Domain.DTOs.CountryModel country = ViewData["Country"] as iWasHere.Domain.DTOs.CountryModel;
}

@using Kendo.Mvc.UI

<style>
    img {
        height: 600px;
    }

    .img-responsive {
        display: block;
        width: auto;
        max-height: 100%;
    }
</style>
<h1>@Model.Name</h1>
<div id="header">
    Cod Obiectiv : @Model.Code <br />
    @if (landmarkType[0] != "")
    {
        @:Tip Obiectiv : @landmarkType[0], (@landmarkType[1]) <br />
    }
    @if (construction[0] != "")
    {
        @:Tip Constructie : @construction[0], (@construction[1]) <br />
    }
    Locatie: @location[0]  <br /> <a href="google.ro"> @country.Name</a>
</div>

<label for="Description">Descriere :</label>
<div id="description">
    <p>@Model.Descr</p>
</div>

@using (Html.BeginForm("CommentSubmit", "Home", FormMethod.Post))
{
    <label for="Comentariu">Comment :</label>

    @(Html.Kendo().TextBoxFor(t => t.CommentText)
                    .HtmlAttributes(new
                    {
                        id = "CommentText",
                    })
                    .Value(""))
    <br />

    <div class="demo-section k-content">
        @(Html.Kendo().Button()
            .Name("btnSave")
            .Content("SAVE")
            .HtmlAttributes(new { name = "btnSave", style = "background:green", type = "submit", value = "SAVE" })
            .Events(ev => ev.Click("onClick")))
    </div>
    @Html.HiddenFor(m => m.LandmarkId);
}

<div id="comments">
    <table>
        @foreach (var comment in comments)
        {
            <td><@comment.Text></td>
        }
    </table>
</div>


<div id="images">
    <table>
        @{int i = 0;
            foreach (string image in images)
            {
                if (i == 0)
                {
                    @:<tr>
                    }
                    <td><img src="@Url.Content(image)" class=" img-fluid" /></td>
                    if (i == 3)
                    {
                        i = -1;
                    @:</tr>
                }
                ++i;
            }
        }
    </table>
</div>
@if (Model.Latitude != null && Model.Longitude != null)
{
    <iframe width="500" height="350" frameborder="0" style="border:0"
            src="@Html.Raw(Model.MapUrl)"></iframe>
}

@addTagHelper *, Kendo.Mvc

<div class="demo-section k-content">
    <h4>Rating</h4>
    <kendo-rating name="rating"
                  min="1"
                  max="6"
                  value="3"
                  item-template-id="item-template"
                  selected-template-id="selected-template"
                  hovered-template-id="selected-template">
        <label template="<span>#=value# out of #=maxValue#</span>" />
    </kendo-rating>
</div>

<script id="item-template" type="x/kendo-template">
    <i class='k-icon k-i-heart-outline'></i>
</script>

<script id="selected-template" type="x/kendo-template">
    <i class='k-icon k-i-heart'></i>
</script>