@model iWasHere.Domain.DTOs.LandmarkModel

@{
    ViewData["Title"] = Model.Name;
    List<string> images = ViewData["Images"] as List<string>;
}
<style>
    img {
height: 600px;
}
    .img-responsive {
    display: block;
    width: auto;
    max-height: 100%;
}
</style>
    <h1>@Model.Name</h1>
<div id="header">   
    Cod Obiectiv : @Model.Code <br />
    Tip Constructie : @Model.ConstructionTypeId <br />
    Locatie: @Model.CountryId , @Model.CountyId , @Model.CityId <br />
</div>

<div id="description">
    <p>@Model.Descr</p>
</div>

<div id="images">
        <table>
                <tr>
                    @foreach (string image in images)
                    {
                    <td><img src="@Url.Content(image)" class =" img-fluid"/></td>
                    }
                </tr>
        </table>
</div>
@if(Model.Latitude != null && Model.Longitude != null)
{
    <iframe width="500" height="350" frameborder="0" style="border:0"
            src="@Html.Raw(@Model.MapUrl)"></iframe>
}
